<section class="skills" id="skills">
  <div class="skills-inner">

    <h2 class="section-title">Skills</h2>

    <div class="skills-grid">

      <!-- Frontend -->
      <div class="skill-card" data-animate>
        <div class="skill-header">
          <img src="/Angular.svg" alt="Angular" />
          <img src="/TypeScript.svg" alt="TypeScript" />
          <img src="/HTML5.svg" alt="HTML5" />
          <img src="/CSS3.svg" alt="CSS3" />
        </div>

        <h3 class="skill-title">Frontend & UI</h3>

        <ul class="skill-list">
          <li>Angular</li>
          <li>TypeScript</li>
          <li>HTML5</li>
          <li>SCSS / CSS</li>
          <li>RxJS</li>
        </ul>
      </div>

      <!-- QA -->
      <div class="skill-card" data-animate>
        <div class="skill-header">
          <img src="/Postman.svg" alt="Testing" />
        </div>

        <h3 class="skill-title">Quality & Testing</h3>

        <ul class="skill-list">
          <li>API Test Automation</li>
          <li>Karate</li>
          <li>Bruno/Postman</li>
          <li>Test Strategy & Validation</li>
          <li>Negative Testing</li>
        </ul>
      </div>

      <!-- Backend -->
      <div class="skill-card" data-animate>
        <div class="skill-header">
          <img src="/Java.svg" alt="Java" />
          <img src="/Spring.svg" alt="Spring" />
        </div>

        <h3 class="skill-title">Backend & APIs</h3>

        <ul class="skill-list">
          <li>Java</li>
          <li>Spring Boot</li>
          <li>REST APIs</li>
          <li>JWT</li>
          <li>Basic System Design</li>

        </ul>
      </div>

      <!-- Tools -->
      <div class="skill-card" data-animate>
        <div class="skill-header">
            <img src="/GitHub.svg" alt="Github" />
            <img src="/Docker.svg" alt="Docker" />
            <img src="/Kubernetes.svg" alt="Kubernetes" />
            <img src="/Jira.svg" alt="Jira" />
        </div>

        <h3 class="skill-title">Tools & Practices</h3>

        <ul class="skill-list">
          <li>GitHub</li>
          <li>Code Reviews</li>
          <li>Agile / Scrum</li>
          <li>CI/CD</li>
          <li>JIRA</li>
          <li>Confluence</li>
          <li>Docker</li>
          <li>Kubernetes</li>
        </ul>
      </div>

    </div>

  </div>
</section>
