<!-- section is html element that defines a generic section of a document.
  it is a semantic tag meaning it adds meaning to the content it wraps, improving accessibility and SEO -->
  <section class="hero">
    <div class="content">
        <h1>Welcome </h1>
        <p>Discover </p>
        <div class="actions">
            <button class="primary-button">Resume</button>
            <button class="secondary-button">GitHub</button>
        </div>
    </div>
    <div class="image"></div>
    
  </section>
