.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 72px;
  background: var(--bg-primary);
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  z-index: 100;
}
.header-inner {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 24px;

  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
 .mobile-nav a:hover {
  background: var(--bg-elevated);
}

}
.status {
  display: flex;
  align-items: center;
  gap: 6px;

  font-size: 0.89rem;
  color: #a5b4fc;
  white-space: nowrap;
}
.status .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #22c55e;
  animation: pulse 1.8s infinite;
}

.nav {
  display: flex;
  gap: 32px;
  margin: 0 auto; // THIS centers nav
}
.nav a {
  text-decoration: none;
  font-size: 1rem;
  color: var(--text-secondary);
  white-space: nowrap;
    &:hover {
    color: #ffffff; 
    }
}


.theme-toggle {
  color: var(--text-primary);
  border: 1px solid var(--bg-elevated);
  background: transparent;
  border-radius: 6px;
  padding: 6px 10px;
  cursor: pointer;
    &:hover {
    transform: translateY(-2px);
    background: var(--bg-elevated);
  }
}
.hamburger {
  display: none;
  color: var(--text-primary);
  border: 1px solid var(--bg-elevated);
  background: transparent;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
    &:hover {
    transform: translateY(-2px);
    background: var(--bg-elevated);
  }
}

@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.4; }
  100% { opacity: 1; }
}

@media (max-width: 900px) {

  .nav {
    display: none;
  }

  .status {
    font-size: 0.7rem;
  }

  .hamburger {
    display: block;
        &:active{
        transform: translateY(-2px);
        background-color: rgba(255, 255, 255, 0.08);
    }
  }

  .theme-toggle {
    margin-left: auto;
    margin-right: auto;
        &:active {
        transform: translateY(-2px);
        box-shadow: 0 10px 25px rgba(99, 102, 241, 0.4);
    }
  }
}

.mobile-nav {
  position: fixed;
  top: 72px;
  left: 0;
  width: 100%;

  background: var(--bg-primary);
  border-bottom: 1px solid var(--bg-elevated);

  display: flex;
  flex-direction: column;
}

.mobile-nav a {
  padding: 16px 24px;
  text-decoration: none;
  color: var(--text-primary);
  font-size: 0.95rem;
}

.mobile-nav a:hover {
  background: var(--bg-elevated);
}
