.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 72px;
  background: rgba(15, 23, 42, 0.95);
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  z-index: 100;
}
.header-inner {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 24px;

  display: flex;
  align-items: center;
}
.logo {
  font-size: 1.4rem;
  font-weight: 600;
  color: #e5e7eb;
}
.nav {
  display: flex;
  gap: 32px;
  margin: 0 auto; // THIS centers nav
}
.nav a {
  text-decoration: none;
  font-size: 1rem;
  color: #cbd5f5;
  white-space: nowrap;
    &:hover {
    color: #ffffff; 
    }
}


.theme-toggle {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: #e5e7eb;
  border-radius: 6px;
  padding: 6px 10px;
  cursor: pointer;
    &:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 25px rgba(99, 102, 241, 0.4);
  }
}
.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 1.4rem;
  color: #e5e7eb;
  cursor: pointer;
    &:hover {
    transform: translateY(-2px);
        background-color: rgba(255, 255, 255, 0.08);
  }
}

@media (max-width: 900px) {

  .nav {
    display: none;
  }

  .hamburger {
    display: block;
        &:active{
        transform: translateY(-2px);
        background-color: rgba(255, 255, 255, 0.08);
    }
  }

  .theme-toggle {
    margin-left: auto;
    margin-right: auto;
        &:active {
        transform: translateY(-2px);
        box-shadow: 0 10px 25px rgba(99, 102, 241, 0.4);
    }
  }
}

